/* Light Theme
body.light-theme {
    background-color: white;
    color: black;
  }
  
  body.light-theme h1,
  body.light-theme form,
  body.light-theme input,
  body.light-theme select,
  body.light-theme button,
  body.light-theme div {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }
   */
  /* Dark Theme */
  /* body.dark-theme {
    background-color: #121212;
    color: white;
  }
  
  body.dark-theme h1,
  body.dark-theme form,
  body.dark-theme input,
  body.dark-theme select,
  body.dark-theme button,
  body.dark-theme div {
    background-color: #333;
    color: white;
    border: 1px solid #444;
  } */
  /* .body{
    background-color: #444;
  } */
  
  