<body>
  <nav class="navbar bg-success  fixed-top">
  <a routerLink="/home"  class="nav-brand text-white nav-link">Home</a>
  <ul class="nav">
  <li><a routerLink="/login" *ngIf = "!isLoggedIn()" class="nav-link text-white">Login</a></li>
  <li><a routerLink="/register" class="nav-link text-white">Register</a></li>
  <li><a routerLink="/view" class="nav-link text-white">View</a></li>
  <li><a routerLink="/order" class="nav-link text-white">Order</a></li>
  <li><a routerLink="/addtocart" class="nav-link text-white"><i class="fa-solid fa-cart-shopping"></i></a></li>
  <li><a (click)="logout()" routerLink="/logout" class="nav-link text-white" *ngIf="isLoggedIn()">Logout</a></li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
  </body>
  