/* Light Theme for Entire Login Page
#login-page.light-theme {
    background-color: white;
    color: black;
  }
  
  #login-page.light-theme input,
  #login-page.light-theme select,
  #login-page button,
  #login-page div,
  #login-page form,
  #login-page h1,
  #login-page label {
    background-color: white;
    color: black;
    /* border: 1px solid #ccc; */
  /* } */ 
  
  /* Dark Theme for Entire Login Page */
  /* #login-page.dark-theme {
    background-color: black;
    color: white;
  }
  
  #login-page.dark-theme input,
  #login-page.dark-theme select,
  #login-page button,
  #login-page div,
  #login-page form,
  #login-page h1,
  #login-page label {
    background-color: #333;
    color: white; */
    /* border: 1px solid #444; */
  /* } */
  /* Light Theme for Entire Login Page */
#login-page.light-theme {
    background-color: white;
    color: black;
  }
  
  #login-page.light-theme #login-container {
    background-color: white;
    color: black;
  }
  
  /* #login-page.light-theme input, */
  #login-page.light-theme select,
  #login-page button
  /* #login-page div , */
  /* #login-page form */
  /* #login-page h1, */
  /* #login-page label */
  { 
    background-color: white;
    color: black;
  }
  
  /* Dark Theme for Entire Login Page */
  #login-page.dark-theme {
    background-color: black;
    color: white;
  }
  
  #login-page.dark-theme #login-container {
    background-color: black;
    color: white;
  }
  
  /* #login-page.dark-theme input, */
  #login-page.dark-theme select,
  #login-page button
  /* #login-page div, */
  /* #login-page form */
  /* #login-page h1, */
  /* #login-page label  */
  {
    background-color:black;
    color: white;
  }
  
  